# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Testes
.pytest_cache/
htmlcov/
.coverage

# Git
.git/
.gitignore

# Outros
*.log
*.db
.DS_Store
